<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Detail</title>
  <link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>
  <header class="header__inner">
    <div class="logo">
      <h1>Restaurant Apps</h1>
    </div>
    <nav class="navbar-desktop">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#" tabindex="3">Favorite</a></li>
        <li class="nav__item"><a href="https://www.instagram.com/munifahmad/" tabindex="4">About Us</a></li>
      </ul>
    </nav>
  </header>
  <button class="nav-toggle-label" tabindex="2" aria-label="Toggle navigation menu">
    <span></span>
  </button>
  <nav id="drawer" class="nav">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li><a href="https://www.instagram.com/munifahmad/">About Us</a></li>
    </ul>
  </nav>

  <main>
    <section class="restaurant-detail">
      <div id="restaurant-content">
        <!-- Content will be loaded dynamically -->
      </div>
    </section>
  </main>

  <footer>
    <p class="copyright">Copyright © 2024 - Restaurant Apps - Ahmad Munif</p>
  </footer>
</body>
</html>