<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>
  <header class="header__inner">
    <div class="logo">
      <h1>Restaurant Apps</h1>
    </div>
    <button class="nav-toggle-label" aria-label="Toggle navigation menu">
      <span></span>
    </button>
    <nav class="navbar-desktop">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#" tabindex="3">Favorite</a></li>
        <li class="nav__item"><a href="https://www.instagram.com/munifahmad/" tabindex="4">About Us</a></li>
      </ul>
    </nav>
  </header>
  <nav id="drawer" class="nav">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li><a href="https://www.instagram.com/munifahmad/">About Us</a></li>
    </ul>
  </nav>
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Working from Coffe</h1>
      <p class="hero__tagline">Bekerja dari coffee shop menjadi tren yang semakin populer. Suasana yang nyaman, ditemani alunan musik lembut, dan aroma kopi yang khas, menciptakan lingkungan kerja yang inspiratif. Selain itu, coffee shop juga menyediakan koneksi internet yang stabil, sehingga memudahkan kita untuk menyelesaikan tugas dengan produktif.</p>
    </div>
  </div>
  <main>
    <section>
      <div class="latest">
        <h1 class="latest__label">Daftar Coffee Shop</h1>
        <div class="posts" id="content">
          <!-- content here -->
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p class="copyright">Copyright © 2024 - Restaurant Apps - Ahmad Munif</p>
  </footer>
  <script src="../scripts/index.js"></script>
</body>
</html>